@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
  background-color: #f6f6f6;
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  width: 40vh;
  height: 60vh;
  margin: 0 auto; /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
  margin-top: 15vh;
  margin-bottom: 15vh; 
  position: relative; /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
}

.App {
  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Yeon Sung', cursive;
  
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* MyButton */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;

  font-family: 'Nanum Pen Script', cursive;
}

.MyButton_default{
  background-color: #ececec;
  color: black;
}

.MyButton_Login{
  background-color: #64c964;
  color: white;
}

/* HEADER */
header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: center;
}

header .head_btn_right {
  width: 25%;
  justify-content: center;
}

/* LOGIN */
.Login_back {
  position: absolute; top:0; left:0;
  width: 100%;
  height: 100%;
}

.Login {
  padding-top: 20%;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 100%;
  height: 100%;
}

.Login > label  {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: 25px auto 0; */
  padding-top: 15%;
  padding-bottom: 15%;
}

.Login > label > span {
  font-size: 16px;
  color: #cecece;
  text-transform: uppercase;
}

.Login > label > input {
  background: none;
  border: none;
  outline: none;
  padding-top: 15%;
  font-size: 16px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
}

/* NOT FOUND */
.NotFound {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px; 
}

/* Home */
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* MzList */
.MzList {
  margin-top: 20px;
  height: 100%;
}

.EachListWrapper {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 10px;
  border: solid #e2e2e2;
  border-radius: 10px;
  cursor: pointer;
}

.EachList {
  margin: 5px;
  width: 50%;
  text-align: center;
}

/* Restaurant */
.RestaurantList {
  margin-top: 20px;
}

.RestaurantListWrapper {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 10px;
  border: solid #e2e2e2;
  border-radius: 10px;
}

.RestaurantName {
  margin: 5px;
  width: 20%;
  text-align: center;
}

.RestaurantCategory {
  margin: 5px;
  width: 20%;
  text-align: center;
}

.RestaurantAddress {
  margin: 5px;
  width: 60%;
  font-size: small;
  text-align: center;
}

/* CreateMzList */
.CreateMzListWrapper {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MyButton_CreateMzList {
  background-color: #64c964;
  color: white;
  font-weight: bolder;
  font-size: 5vh;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.CreateMzListBody {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.CreateMzListInput {
  flex: 1;
  text-align: center;
  margin-top: 25%;
}


.CreateMzListInput > label  {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.CreateMzListInput > label > input {
  background: none;
  border: none;
  outline: none;
  /* padding-top: 15%; */
  font-size: 16px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  width: 50%;
}

.CreateNewMzListWrapper {
  display: flex;
  justify-content: center;
}

/* Restaurant */
.Restaurant {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.RestaurantList {
  flex: 1;
}